body {
    margin: 0;
    padding: 0;
    font-family: "Albert Sans", sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 600;
}

h3 {
    margin-bottom: -5;
    margin-top: -5;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

#banner {
    width: 100%;    /* Occupy the entire space available, horizontally */
    object-fit: cover;
}

h1, h2 {
    text-align: center;
    font-size: 45;
}

h3 {
    margin-bottom: -5;
    margin-top: -5;
}
#banner {
    width: 100%;    /* Occupy the entire space available, horizontally */
    object-fit: cover;
}

#navbar {
    padding: 8px;
    background-color: rgb(0, 0, 0);
}

#apple-logo {
    height: 45px;
}

#about {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 8px;
}

#description {
    width: 50%;     /* Occupy 50% of the area of parent div -> 'about' div*/
    /* padding: 0 380px 0 80px; */
    font-size: 1.5rem;
    padding-right: 20px;
    padding-top: 8px;
}   

#team {
    width: 50%;
}

#team-image {
    border-radius: 10px;
    width: 100%;
    border: 1px solid black;
}

p {
    margin: 0;
}

#jobs {
    max-width: 1000px;
    margin: 0 auto;
    padding:0 8px;
    font-size: 25;
}

.apply {
    float: right;
}

a {
    text-decoration: none;
}

#footer {
    background-color: ghostwhite;
    text-align: center;
    font-size: 25;
}

#footer-links {
    list-style: none;   /* to remove the bullet points */
    padding: 8px;
    margin-top: 32px;
}

/* 
Whenver we have 3 divs one above each other, and we want to show it inline... we can just use display: flex 
*/

/* 
Difference between flex and inline is: Flex is applied to Parent and that applies all the items within it, whereas inline is something that we apply to child elements. 
*/

#footer-links li {  /* select li items under the id: footer-links */
    display: inline;
    margin: 0 16px;
    font-size: 1.2rem;
}

.copyright {
    color: gray;
    margin-top: -20;
    font-size: 1rem;
}

#jobs-table {
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;  /* To remove the double borders */
}

.jobs-header-row th {
    border: 1px solid gray;
    padding: 8px;   /* Inside the border of a cell, added some padding! */
    /* If margin: Space is added outside the border and... 
    If padding: Space is added inside the border, according to the CSS box model! */
    background-color: #FDA4AF;
    text-align: left;
}

.jobs-data-row td {
    border-right: 1px solid gray;
    padding: 8px;   /* Inside the border of a cell, added some padding! */
}

/* Now we want to add background color for ALTERNATE ROWs... */
#jobs-table tr:nth-child(odd) {
    background-color: #FFE4E6;
}

#time-table-div {
    max-width: 1000px;
    margin: 20px auto;
}

#time-table {
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
}

.data th {
    border: 1px solid gray;
    padding: 8px;
    background-color: rgb(234, 235, 235);;
}

.data td {
    border: 1px solid gray;
    padding: 8px;
}

#application {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
}

.form-group {
    margin: 25px 0;
}
#application-form label {
    font-weight: 600;
    font-size: 1.125rem;
}

#application-form input, select, textarea {
    padding: 4px;
    font-size: 1.25rem;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid gray;
}

.form-group input[type="checkbox"] {    /* select those input tags which has class input type=checkbox */
    width: 18px;
    height: 18px;
}

.form-group input[type="text"], input[type="email"] {
    width: 40%;
}

.form-group input[type="submit"] {
    background-color: #FDA4AF;
    font-weight: 600;
    cursor: pointer;
}

#coverletter {
    width: 60%;
}
